.vscode/**
.vscode-test/**
.github/**
src/**
out/**
tests/**
__mocks__/**
node_modules/**
dist/**/*.map

.gitignore
.prettierrc.json
.DS_Store
eslint.config.mjs
esbuild.mjs
tsconfig.json
tsconfig.eslint.json
vitest.config.ts
package-lock.json
CONTRIBUTING.md
**/*.vsix
